* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
}

.App {
    .AppBody {
        position: relative;
        max-width: 1440px;
        margin: 0 auto;

        header {
            background: linear-gradient(100grad, rgba(41, 141, 255, 0.3) 30%, rgb(41, 141, 255) 80%, rgb(41, 141, 255, 0) 99%);
            height: 100px;
            width: 100%;
            border-radius: 0 15px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            position: relative;

            ul {
                display: flex;
                justify-content: center;
                width: 40%;
                gap: 20px;

                li {
                    a {
                        color: black;
                        font-weight: 700;
                    }
                }
            }

            h1 {
                padding: 0 27% 0 0;
                color: rgb(179, 208, 245);
                text-shadow: 0px 0px 10px rgb(0, 0, 0);
                font-size: 45px;
            }
        }

        main {
            .MainHeader {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;
                flex-wrap: wrap;

                h1 {}

                div {
                    display: flex;
                    height: 25px;
                    justify-content: space-between;
                    flex-wrap: wrap;

                    input,
                    button {
                        border-radius: 10px;
                        padding: 5px;
                        margin: 0 5px;
                        text-align: center;
                    }
                }
            }
        }

        footer {
            background-color: rgb(41, 141, 255);
            height: 100px;
            width: 100%;
            border-radius: 15px 15px 0 0;
            padding: 5px 10px;
        }
    }
}